@using Employees.Models


@{
    ViewBag.Title = "Home Page";
}

@section Scripts
{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
}


            
        @if (TempData["FirstName"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You succesfully add new empoyee: <strong>@TempData["firstName"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        } 
        <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Add emoployee:
        </div>
        <div class="card-body">
            <!-- form goes here -->
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="form-floating mb-3">
                    @Html.TextBox("firstName", null, new { @class = "form-control", placeholder = "Employee name", autocomplate = "off"})
                    @Html.Label("firstName", "Employee name:")
                    
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBox("lastName", null, new { @class = "form-control", placeholder = "Employee last name", autocomplate = "off"})
                    @Html.Label("lastName", "Employee last name:")
                    
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBox("birthDate", null, new { @class = "form-control", type="date", placeholder = "Date of birth", autocomplate = "off"})
                    @Html.Label("birthDate", "Date of Birth:")
                    
                </div>

                <input class="btn btn-primary" type="submit" value="Add">
            }
        </div>
    </div>
        </div>
         <div class="col-md-6">
    <partial name="_PersonList" />
        </div>

           

        

        

      